.memberlist-badalive {
	width: 602px;
	display: grid;
	grid: auto / repeat(3, 190px);
	gap: 16px;
	margin: auto;
	text-align: left;
	font-family: arial;
	color: #0a0909;
}

.memberlist-badalive .member {
	width: 190px;
	height: 190px;
	position: relative;
	overflow: hidden;
}

.memberlist-badalive .filter {
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	width: 180px;
	height: 180px;
	z-index: 1;
	border: 5px solid red;
}

.memberlist-badalive .image {
	filter: grayscale(1);
	width: 180px;
	height: 180px;
	mix-blend-mode: screen;
}

.memberlist-badalive h1 {
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	height: 180px;
	display: flex;
	align-items: flex-end;
	margin: 0 0 0 15px;
	font: 24px/0.9em arial black;
}

.memberlist-badalive .info {
	position: absolute;
	top: 0;
	left: -180px;
	width: 185px;
	height: 190px;
	background: #0a0909;
	z-index: 3;
	box-sizing: border-box;
	padding: 16px;
	transition: 0.7s ease;
	display: grid;
	grid: auto auto / auto;
	gap: 8px;
	color: #fae8e5;
	overflow: hidden;
}

.memberlist-badalive .member:hover .info {
	left: 0;
}

.memberlist-badalive .info p {
	font: 16px arial;
	margin: 0;
	padding: 0;
	place-self: start;
}

.memberlist-badalive .info h2 {
	margin: 0 0 0 -22px;
	word-break: break-all;
	font: 40px/0.8em arial black;
	width: 180px;
	place-self: center start;
}

.memberlist-badalive .info h2 a {
	text-decoration: none;
	color: red;
	text-transform: uppercase;
}
